* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {

    background-color: #7D5BA6;
}

a {
    all: unset
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bcard {
    width: 37.5rem;
    margin: 1rem;

}

.bcard__profile-img {
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 10px 10px 0px 0px;
    border-color: #5093E2;
    border-radius: 2rem;
    object-fit: cover;
    object-position: top right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.bcard__body {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bcard__heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;

}

.bcard__heading-wrapper *+* {
    margin-top: 0.5em;
}

.bcard__name {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 30px;
}


.bcard__title {
    color: black;
    font-weight: 400px;
    font-size: 1.28rem;
}

.bcard__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.bcard__btn {
    min-width: 11.5rem;
    height: 3.4rem;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.bcard__btn-icon {
    margin-right: 2.8rem;
    font-size: 1.4rem;
}

.bcard__btn--email {
    background-color: #7D5BA6;
    border: 1px solid dimgrey;
}

.bcard__btn--linkedin {
    background: #5093E2;
    color: #FFFFFF;
    margin-right: 25rem;
}


.bcard__text-wrapper {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.bcard__text-wrapper *+* {
    margin-top: 0.8em;
}

.bcard__heading {
    color: blue;
    font-size: 1.6rem;
}

.bcard__text {
    color: black;
    font-size: 1.08;
}

.bcard__footer {
    height: 6.5rem;
    background-color: #7D5BA6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.bcard__footer-icon {
    background-color: #7D5BA6;
    font-size: 4rem;
    padding: 0.3rem;
    margin-right: 2.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.bcard__footer-icon:last-of-type {
    margin-right: 0;
}

@media (max-height:750px) {
    .main {
        height: auto;
    }
}